<div class="col-md-2">
</div>
<div class="col-md-8">
	<div class="panel panel-default">
		<ul class="list-group">
			<li class="list-group-item"><h4 class="tweet_title text-muted">Tweets</h4></li>
			<% @tweets.each do |tweet| %>
				<li class="list-group-item">
					<div class="tweet media">
						<%= image_tag tweet.user.gravatar_url, class: 'gravatar media-object pull-left img-rounded' %>
						<div class="media-body">
							<h4 class="media-heading"><%= tweet.user.name %> <small>@<%= tweet.user.username %> - <%= time_ago_in_words(tweet.created_at) + " ago" %>
					    		</small>
					    	</h4>
						  	<p><%= tweet.content %></p>
						  	<p class="meta">
						  	<span class="glyphicon glyphicon-share-alt"></span> Reply
						  	<% if signed_in? && current_user == tweet.user %>
								<span class="admin pull-right">	
									<a href="<%= edit_tweet_path(tweet) %>"><span class="glyphicon glyphicon-edit"></span> Edit</a> | <%= link_to 'Remove', tweet, method: :delete, data: { confirm: 'Are you sure?' } %>
								</span>
						    <% end %>
						    </p>
					    </div>
					</div>
				</li>
			<% end %>
		</ul>
	</div>
</div>
<div class="col-md-2">
</div>